body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS Header  */

.content {
  margin-top: 2rem;
}

.top-band {
  background-color: #fff;
  height: 60px;
  border-bottom: solid 2px #f56a2b;
}
.container-top {
  display: flex;
  width: 1026px;
  margin: auto;
  justify-content: space-between;
}
.container-top img {
  background-color: #fff;
  width: 150px;
  height: 50px;
  display: flex;
}

.menu-top-nav-left {
  display: flex;
  margin: 10px;
  font-weight: bold;
}
.header-button {
  background-color: #f56a2b;
  color: #fff;
  height: 45px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
}
.fa-plus-square {
  color: #fff;
  font-size: 30px;
  display: flex;
}
.text-button {
  display: flex;
  text-align: center;
  margin: 5px;
}
.fa-search {
  font-size: 30px;
  margin-left: 10px;
  text-align: center;
  display: flex;
  padding-top: 5px;
}

.search-text {
  display: flex;
  font-size: 15px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  padding: 0px 0px 10px 10px;
}

.menu-top-nav-left ul {
  padding: 0px;
  color: #f56a2b;
  list-style-type: none;
  display: flex;
}
.menu-top-nav-button {
  display: flex;
  align-content: space-around;
  font-weight: bold;
}
.menu-top-nav-button li {
  display: flex;
  border: 1px #f56a2b solid;
  border-top: 0;
  border-bottom: 0;
  height: 20px;
  padding: 20px;
}
.menu-top-nav-button li:nth-child(1) {
  border-right: 0;
}
.menu-top-nav-button ul {
  color: #f56a2b;
  list-style-type: none;
  display: flex;
  margin: 0px;
  height: 100%;
}
.border {
  display: flex;
  margin: 0px;
}

.content-offer {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  width: 1024px;
  height: 10rem;

  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  background-color: white;
}

.cards .img-offer {
  margin: 5px;
  padding-right: 5rem;
  background-color: #fafafa;
}

.cards .info-offer {
  padding-left: 2rem;
  text-align: left;
}

.cards #price {
  color: #f5692a;
  font-weight: bold;
}

.cards #infos {
  color: #326699;
  font-weight: bold;
}

.list-page {
  display: flex;
  list-style: none;
}

.paginate {
  display: flex;
  justify-content: center;
}

.paginate li {
  padding: 10px;
  color: #326699;
}

.paginate li:hover {
  background-color: #f5692a;
  border-radius: 5px;
  color: white;
}

.content-offer {
  width: 1024px;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
}
.card-single-offer {
  width: 800px;
  height: 500px;
}

.img-single-offer {
  height: inherit;
  background-color: #d8cfcf;
}

.infos-single-offer {
  height: 5rem;
  text-align: left;
  padding: 2rem 0rem 1rem 1rem;
  background-color: white;
  box-shadow: 0 5px 12px -6px rgba(33, 33, 33, 0.2);
}

#title-offer {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

#price-offer {
  margin-top: 10px;
  color: #f5692a;
  font-weight: bold;
  font-size: 20px;
}

.description-offer {
  text-align: left;
  padding-top: 10rem;
}

.link {
  text-decoration: none;
}

/*   AUTHENTIFICATION  */
.container-authentification {
  display: flex;
  justify-content: space-between;
  width: 1026px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
  border: rgb(240, 240, 240) 3px solid;
  box-shadow: 10px 5px 10px rgb(223, 223, 223);
}
.authentification-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}
.authentification-left-top h3 {
  text-align: left;
}
.authentification-left-top p {
  text-align: left;
}
.fa-clock {
  padding-top: 40px;
  margin: 0;
  color: #4183d7;
  font-size: 40px;
}
.fa-bell {
  padding-top: 40px;
  margin: 0;
  color: #4183d7;
  font-size: 40px;
}
.fa-eye {
  padding-top: 40px;
  margin: 0;
  color: #4183d7;
  font-size: 40px;
}
.text-logo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.text-rigt-of-logo {
  padding-left: 40px;
}
.text-rigt-of-logo {
  padding-left: 40px;
}
.text-rigt-of-logo-eye {
  padding-left: 30px;
}
.text-logo p {
  font-size: 12px;
}
.paragraphe-1 {
  display: flex;
}
.authentification-right {
  padding: 50px;
}
.authentification-right input {
  border-radius: 5px;
  height: 40px;
}
.authentification-right button {
  border-radius: 5px;
  height: 40px;
  width: 500px;
  background-color: #4183d7;
  color: #fff;
  font-size: 20px;
  border: none;
}
.authentification-right h2 {
  border-bottom: 3px solid #f5692a;
  padding-bottom: 20px;
}
.authentification-right p {
  font-size: 12px;
}
.authentification-right h4 {
  text-align: left;
}
.left-logo-text {
  display: flex;
  flex-direction: row;
}
.password {
  display: flex;
  width: 500px;
}
.register-form input {
  width: 500px;
}
.password input {
  display: flex;
  width: 240px;
}
.checkbox {
  display: flex;
  flex-direction: row;
}
.checkbox input {
  width: 20px;
}
.checkbox p {
  text-align: left;
}

/*  LOGIN  */
.container-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1026px;
  height: 700px;
  margin: auto;
  margin-top: 20px;
  border: rgb(240, 240, 240) 3px solid;
  box-shadow: 10px 5px 10px rgb(223, 223, 223);
}
.connect-button {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  background-color: #4183d7;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}
.connect-button-1 {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  background-color: #ffff;
  color: #4183d7;
  font-size: 20px;
  border: 1px solid #4183d7;
  box-sizing: border-box;
}
.container-login h1 {
  border-bottom: 3px solid #f5692a;
  padding-bottom: 20px;
}
.container-login h4 {
  text-align: left;
}
.container-smaller {
  width: 600px;
  margin: auto;
}
.container-login input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 600px;
  height: 50px;
  box-sizing: border-box;
  font-size: 20px;
}
.bottom-part h4 {
  text-align: center;
}
